<!DOCTYPE html>
<html ⚡>
    {{> "amp/core/head" }}

    <body id="body-amp">
        <div class="wrapper">
            {{> amp/core/header }}

            <main class="main">
                {{#post}}
                    {{> amp/post-single}}
                {{/post}}
            </main>

            {{> core/footer }}
        </div>

        {{> core/foot}}
    </body>
</html>