<!DOCTYPE html>
<html lang="{{@site.locale}}">
  {{> core/head}}
  
  <body>
    {{> core/header}}      
    <hr/>      
    <div id="main">
      {{{body}}}
    </div>
    <hr/>
    {{> core/footer}}
    {{> core/foot}}
  </body>
</html>
