<div class="post-authors">
  <div style="font-weight:bold;display:inline;margin-right:1rem;color:#475569;">
    By:
  </div>
  <ul class="authors-list">
    {{#foreach authors}}
      <li class="authors-list-item">
        <a href="{{url}}" title="More post from {{name}}">
          {{name}}              
        </a>
      </li>
    {{/foreach}}
  </ul>
</div>