{{#if feature_image}}
  <div class="w-full mb-4 md:mb-8" style="height:auto">
    <a href="{{url}}" title={{title}}>
      <img class="responsive mx-auto" alt="" src="{{feature_image}}"/>
    </a>  
  </div>
{{/if}}
