{{#get posts limit="5"}}
  <div class="flex flex-row item-baseline">
    <span>{{date format="YYYY-MM-DD"}}</span>
    <span class="mr-4">:</span>
    <a href="{{url}}">{{title}}</a>
  </div>
{{/get}}

{{pagination}}