{{#foreach posts}}
  <div class="flex flex-row item-baseline">
    <div class="font-mono text-right">{{date format="YYYY-MM-DD"}}</div>
    <div class="mr-4">:</div>
    <div class=""><a href="{{url}}">{{title}}</a></div>
  </div>
{{/foreach}}
