<div id="header" class="mb-8">
  {{> post/feature-image }}  
  {{> post/title }}   
  {{> post/date }}
  {{> post/tags-all }}  
</div>
<div id="post-body" class="flex flex-col gap-y-4 text-gray-800 text-xl">
  {{#is "home"}}
    {{> post/excerpt}}
  {{else}}
    {{> post/content}}
  {{/is}}  
</div>