<div id="header" class="mb-8">
  {{> post/feature-image }}  
  {{> post/title }}   
  {{> post/date }}
  {{#if tags}}
    {{> post/tags-all }}
  {{/if}}
</div>
<div id="post-body" class="flex flex-col text-gray-800 text-xl max-w-3xl">
  {{#is "home"}}
    {{> post/excerpt}}
  {{else}}
    {{> post/content}}
  {{/is}}  
</div>